<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Brandalyn's Portfolio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="../styles/styles.css" rel="stylesheet">
  </head>
  <body>

      <div class="container-fluid">
        <div class="row mt-60"></div>

        <div class="row white align-items-end">
          <div class="col">
              <img src="../images/logo.svg" alt="Brandalyn Wilcox Logo"/>
          </div>
          <div class="col d-flex justify-content-end">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="projects.html">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="row mt-5">
            <div class="col">
               <div class="ms-5">
                    <h1>Hi, I'm Brandalyn</h1>
                    <p>
                        I’m a user experience (UX) designer with experience in interaction design and research gained through a professional certificate developed by Google.

                        Throughout the past six months, I’ve learned to develop personas, user stories, and user journey maps to improve the user experience and plan and conduct usability studies. From creating sitemaps, wireframes, and prototypes to testing and iterating on the designs, I’ve built a professional portfolio to showcase these projects. 
                        
                        I love finding solutions through creative processes to make technology easier and more enjoyable for all users.
                        
                        My mission is to create a user experience for products that focus on equity, diversity, and inclusion.
                    </p>

                    <div><a class="btn btn-primary" href="https://drive.google.com/file/d/13JHz6LjsxVQtjUG3TYoQeTc-m8BT0fNw/view?usp=sharing" target="_blank">Resume</a></div>
                    <div><a class="btn btn-primary mt-3" href="https://www.linkedin.com/in/brandalyn-wilcox/" target="_blank">LinkedIn</a></div>
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div><img src="../images/selfies.png"/></div>
            </div>
        </div>

        <div class="row">
            <p>Icons provided by <a href="https://icons8.com/illustrations/illustration/61a15b9099d7fa0001450fb5">icons8</a></p>
    
        </div>


    </div>