html {
    height: 100%;
}

body::after {
    content: "";
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.row {
    background-color: white;
}

.mt-60 {
    margin-top: 60px;
}

.mt-100 {
    margin-top: 140px;
}

.nav-link {
    color: black;
}